./
Build/
build/
debug/
release/
Brion/
Lunchbox/
MVDTool/
Pydoxine/
Servus/
vmmlib/
HighFive/
Keyv/
Rockets/
Deflect/
plugins/extensions/usecases/
CMakeFiles
.DS_Store
*~
*#
*.autosave
*.files
*.config
*.includes
*.creator*
*.cflags
*.cxxflags
*.user
.vscode
.python-version
