[submodule "platform/deps/uvw"]
	path = platform/deps/uvw
	url = https://github.com/skypjack/uvw.git
[submodule "platform/deps/rapidjson"]
	path = platform/deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "common/deps/async++"]
	path = common/deps/async++
	url = https://github.com/Amanieu/asyncplusplus.git
